@model K22CNT2_PhanLacViet_2210900079_project2.Models.NhaCC

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Chi tiết NhaCC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Tên nhà cung cấp</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNCC)
        </dd>

        <dt>
            <p>Địa chỉ</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            <p>Số điện thoại</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNCC }, new { @class = "btn btn-warning" })) |
    @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-success" }))
</p>
