@model K22CNT2_PhanLacViet_2210900079_project2.Models.SanPham

@{
    ViewBag.Title = "Delete";
}


<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>Xóa SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaCC.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCC.TenNCC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-success" })
        </div>
    }
</div>
