@model K22CNT2_PhanLacViet_2210900079_project2.Models.SanPham

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Chi tiết SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Tên sản phẩm</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            <p>Số lương</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            <p>Giá cả</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaCa)
        </dd>

        <dt>
            <p>Tên nhà cung cấp</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCC.TenNCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP.Trim() }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-success" })
</p>
