@model IEnumerable<K22CNT2_PhanLacViet_2210900079_project2.Models.SanPham>

@{
    ViewBag.Title = "SanPham";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaCa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCC.TenNCC)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaCa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCC.TenNCC)
            </td>
            <td>
                @Html.ActionLink("Mua hàng", "AddToCart", new { id = item.MaSP })
            </td>
        </tr>
    }

</table>
