@model K22CNT2_PhanLacViet_2210900079_project2.Models.DonHang

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TaiKhoan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@Url.Action("Index")" class="btn btn-success">Quay lại</a>
        </div>
    }
</div>
