@model IEnumerable<K22CNT2_PhanLacViet_2210900079_project2.Models.KhachHang>

@{
    ViewBag.Title = "Index";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<h2>Danh sách khách hàng</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Thêm mới</a>
</p>
<table class="table table-bordered">
    <tr style="background-color: antiquewhite">
        <td>
            <p>Mã khách hàng</p>
        </td>
        <th>
            <p>Tài khoản</p>
        </th>
        <th>
            <p>Mật khẩu</p>
        </th>
        <th>
            <p>Tên khách hàng</p>
        </th>
        <th>
            <p>Địa chỉ</p>
        </th>
        <th>
            <p>Số điện thoại</p>
        </th>
        <th>
            <p>Email</p>
        </th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaKH.Trim() }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKH.Trim() }, new { @class = "btn btn-success" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaKH.Trim() }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<a href="@Url.Action("Index", "AdminIndex")" class="btn btn-success">Quay lại trang chủ</a>
